{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid" style="width: 85%; padding-top: 70px">
        <div class="row">
            <div id="carousel" class="carousel slide col-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for image in images %}
                        <li data-target="#carousel" data-slide-to="{{ loop.index0 }}" {% if loop.index0 == 0 %} class="active" {% endif %}></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for image in images %}
                        <div {% if loop.index0 == 0 %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
                            <img class="id-block w-100" style="object-fit:cover; height: 400px; width: 100%; background-color: #c8c8c8 " src="/uploads/images/{{ image.image}}" alt="/uploads/images/{{ image.image}}" />
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="col-md-7" align="justify">
                <h3 class="my-3">{{ hotel.name }}</h3>
                <p>
                    {{ hotel.description }}
                </p>
                <h3 class="my-3">Hotel Details</h3>
                <ul>
                    <li>{{ hotel.address }}</li>
                    <li>{{ hotel.price }} $/night</li>
                </ul>
                {% if is_granted('ROLE_USER') -%}
                <a class="btn btn-primary" style="width: 200px; height: 100px; text-align: center; line-height: 80px; font-size: x-large" href="{{ path('checkout',{'id': hotel.id }) }}">Book this Hotel
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-6" style="margin-top: 20px">
        <div id="floating-panel">
            <input id="latlng" type="hidden" value="{{ hotel.coordinates }}">
            <input id="submit" type="hidden" value="Show Hotel On Map">
        </div>
        <div id="map"></div>
        </div>



        <hr>
        {% if is_granted('ROLE_USER') -%}
        <div class="card my-4" style="width: 40%">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
                {{ form_start(form) }}
                    {{ form_widget(form.Text,
                        {'attr': {'class': "form-control", 'rows': '3' }}) }}
                    <button type="submit" style="padding-top: 10px" class="btn btn-primary">Submit</button>
                {{ form_end(form) }}
            </div>
        </div>
        {% endif %}
         {% for comment in comments %}
        <div class="media mb-4" style="width: 40%">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
                <h5 class="mt-0">{{ comment.author.username }}</h5>
                {{ comment.text }}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8gROgli9JUpM85XaFCC7zRoYoPRKMkls&callback=initMap">
    </script>

    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: {lat: 40.731, lng: -73.997}
            });
            var geocoder = new google.maps.Geocoder;
            var infowindow = new google.maps.InfoWindow;
            var input = document.getElementById('latlng').value;
            var latlngStr = input.split(',', 2);
            var latlng = {lat: parseFloat(latlngStr[0]), lng: parseFloat(latlngStr[1])};
            geocoder.geocode({'location': latlng}, function(results, status) {
                if (status === 'OK') {
                    if (results[0]) {
                        map.setZoom(16);
                        var marker = new google.maps.Marker({
                            position: latlng,
                            map: map
                        });
                        map.setCenter(latlng);
                        infowindow.setContent(results[0].formatted_address);
                        infowindow.open(map, marker);
                    } else {
                        window.alert('No results found');
                    }
                } else {
                    window.alert('Geocoder failed due to: ' + status + '\nSeems to be water on you location');
                }
            });

        }
    </script>
{% endblock %}