{% extends 'base.html.twig' %}
    {% block stylesheets %}
        {{ parent() }}
        <script src ="js/dataPicker.js"></script>
        <script src ="js/ajaxSearch.js"></script>
    {% endblock %}
{% block body %}

    <div class="container-fluid" style="padding-top: 50px; padding-bottom: 50px; width: 85% ">
        <div style=" position: relative;
  text-align: center;
  color: white;">
            <img src="/images/1529396719_krym.png" alt="Paris" style="width: 100%">
            <div class="form-row" style="position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);">
                {{ form_start(form,
                    {'attr': {'autocomplete': 'off'}}) }}
                    {{ form_widget(form.City,
                        {'attr': {'class': 'form-group col-md-8', 'placeholder': 'Place you wanna visit' }}) }}
                <div id="ajax-result" class="ajax-result">
                </div>
                    {{ form_widget(form.Guests,
                        {'attr': {'class': 'form-group col-md-3', 'value': '2', 'min': '1', 'max': '15'}}) }}
                <div class="form-group col-md-8" style="margin: auto">
                        <input type="text" class="form-group" name="daterange" style="width: 100%" >
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
                {{ form_end(form) }}
                </div>

            </div>

        <div class="row" style="padding-top: 20px">
            {% for hotel in mainHotels %}
            <div class="col-lg-3 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="{{ path('hotel', {'id': hotel.id}) }}">
                        {#<img class="card-img-top" src="/uploads/images/{{ hotel.images.shift.image }}" alt="/uploads/images/{{ hotel.images.shift.image }}">#}
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{{ path('hotel',{'id': hotel.id }) }}">{{ hotel.name }}</a>
                        </h4>
                        <h5>{{ hotel.city.name }}</h5>
                        <p class="card-text">
                        <ul>
                            <li>{{ hotel.address }}</li>
                            <li>{{ hotel.price }} $/night</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
           {% endfor %}
        </div>
        <div class="col-6">
            {{ form_start(form) }}
                {{ form_widget(form.City,
                    {'attr': {'class': 'form-control', 'placeholder': 'Place you wanna visit'}}) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}