{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid" style="padding-top: 40px; width: 85%">
        <div class="row">
        <div class="col-3">
            <h3><b>Filter</b></h3>
            {{ form_start(form) }}
            <h5>Choose categories below:</h5>
            {% for item in form.category %}
                {{ form_widget(item) }}
                {{ form_label(item) }}
                <br>
            {% endfor %}
            <hr>
            {{ form_label(form.priceMin) }}
            {{ form_widget(form.priceMin) }}
            {{ form_row(form.priceMax) }}
            {{ form_label(form.capacityMin) }}
            {{ form_widget(form.capacityMin) }}
            {{ form_row(form.capacityMax) }}
            <hr>
            <button type="submit" class="btn btn-primary">Submit filter</button>
            {{ form_end(form) }}
        </div>
        <div class="col-9">
            <h1 class="mt-4 mb-3">
                {{ city }}
            </h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('index') }}">Home</a>
                </li>
                <li class="breadcrumb-item active">{{ city }}</li>
            </ol>
        {% for hotel in hotels %}
            <div class="row" style="padding-bottom: 10px; border-radius: 15px; border-style: groove; padding-top: 10px; margin-bottom: 10px">
                <div class="col-md-7">
                    <a href="{{ path('hotel', {'id': hotel.id}) }}">
                        <img class="img-fluid rounded mb-3 mb-md-0" style="object-fit:cover; height: 400px; width: 100%; background-color: #c8c8c8 " src="/uploads/images/{{ hotel.images.shift.image }}" alt="Picture">
                    </a>
                </div>
                <div class="col-md-5">
                    <h3>{{ hotel.name }}</h3>
                    <p>{{ hotel.price }} $/night</p>
                    <p>{{ hotel.address}}</p>
                    <i class="fas fa-user"></i> x {{ hotel.capacity }}
                    <p>{{ hotel.description | slice(1,500) }}</p>
                    <a class="btn btn-primary" href="{{ path('hotel',{'id': hotel.id }) }}">View Hotel
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
        </div>
    </div>
{% endblock %}