<h3>You did it! You booked a hotel!</h3>

<h4>Hi {{ user.firstName }} {{ user.surname }}! You're successfully booked a {{ hotel.name }} for a {{ nights }} nights for {{ guests }} guests.</h4>
<h4>The address of your hotel is {{ hotel.address }}</h4>
<h4>You're trip is starting from {{ startDate }} and will continue until {{ endDate }}.</h4>

<h4>The price, you should pay to the owner is {{ nights * hotel.price  }}$.</h4>

<h4>Have a nice trip!</h4>